* {
	margin: 0;
}
body {
	font-family: 'Source Code Pro', monospace;
	font-size: 24px;
	color: #222;
	text-align: center;
	background: #F6F7F8;
}

.main {
	width: 75%;
	margin: 25vh auto;
}

h1 {
	margin-bottom: .5em;
}

h2 {
	margin: 0;
}

a {
	display: inline-block;
	font-size: 24px;
	color: #666;
	text-decoration: none;
	padding: .3em .5em;
	margin: 0 .1em;
	border: 1px solid #999;
	box-shadow:
            1px 1px #666,
            2px 2px #666,
            3px 3px #666;
}

a:hover {
	color: #333;
	background-color: #d5e2f2;
	box-shadow: none;
	-webkit-transform: translate(3px, 3px);
	    -ms-transform: translate(3px, 3px);
	     -o-transform: translate(3px, 3px);
	        transform: translate(3px, 3px);
    -webkit-transition: transform 0.1s ease-in-out;
		-ms-transition: transform 0.1s ease-in-out;
		 -o-transition: transform 0.1s ease-in-out;
    		transition: transform 0.1s ease-in-out;
}

a:active {
	transform: translate(3px, 3px);
    background-color: #92c0f8;
}

.ext-links {
	color: #999;
	margin: 2em auto;
	font-size: 1.2em;
}

@media (max-width: 780px) {
	body {
		font-size: 3.5vh;
	}

	.main {
		height: 90vh;
		margin: 5vh auto;
	}

	h2 {
		font-size: 1.2em;
	}
	
	a {
		display: block;
		width: 75%;
		margin: 5px auto;
		font-size: 5vh;
		box-shadow: none;
	}

	a:hover {
		-webkit-transform: none;
	    	-ms-transform: none;
	     	 -o-transform: none;
	        	transform: none;
	}
}